apiVersion: apps/v1
kind: Deployment
metadata:
  name: query
  namespace: event-tracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: query
  template:
    metadata:
      labels:
        app: query
    spec:
      containers:
        - name: query
          image: ghcr.io/Nathan2BLK/event-driven-user-activity-tracker/query-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          
          envFrom:
            - configMapRef:
                name: query-config
            - secretRef:
                name: postgres-secret
          
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"

          readinessProbe:
            httpGet:
              path: /health/ready
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /health/live
              port: 3001
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 3

